<!-- Conteudo exibido antes dos Cards-->
<!-- Cria o  Layout de 'Preço' -->
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	
	<!-- Linha -->
	 <div class="row">	 	
	 	<!-- Coluna Responsiva -->
      	<div class="col-lg-4 col-sm-12 mx-auto">

		  <!-- Titulo -->
          <h1 class="display-4 mx-2 cyan-text">Serviços</h1>
		  <!-- Embaixo do Titulo -->
          <p class="lead text-center ">Bem-vindo ao <i> Software aiQdor</i> agenda sua consulta, veja os dentistas que trabalham conosco, etc.</p>
       	
		</div>
		<!-- /Coluna Responsiva -->

    </div>
	<!-- /Linha -->
	
</div>
<!-- /Cria o  Layout de 'Preço' -->
