{% extends 'core/base.html' %}


{% block imports %}	
{% endblock %}

{% block titulo %}
	Cadastro
{% endblock %}

{% block header_direita %}
	{% include "core/includes/header_direita.html" %}
{% endblock header_direita %}

{% block cards %}
<!--Conteiner Principal -->
<div class="container">
	<!-- Linha principal -->
	<div class="row border my-2 py-2">
		<!-- Coluna -->
		<div class="col-lg-6 col-sm-12 mx-auto">

				{% if user.is_authenticated %}

				{% else %}

					{% include 'user/includes/form_register.html' %}

				{% endif %}

		</div>
		<!-- Coluna -->  
	</div>
	<!-- Linha principal -->
</div>
<!-- Conteiner Principal -->
{% endblock %}
