<div class="jumbotron card card-image aqua-gradient lighten-3">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Você precisa ter uma conta para agendar uma consulta.</strong></h2>
        <p class="mx-5 mb-5">Crie uma conta, clicando <a class="text-white" href="{% url 'cadastro' %}"><b>aqui</b></a>, ou
            se já tiver uma conta, faça <a class="text-white" href="{% url 'login' %}"><b>login</b>.</a>
      </div>
    </div>
  </div>  